<div class="card h-100">
    <img src="<%= @kitten.image_url %>" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title"><%= @kitten.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Admin :</h6>
        <p class="card-text"> some text </p>
        <p class="card-text"> some other text </p>            
        <a href="<%= kitten_path(@kitten.id) %>" class="card-link btn btn-dark">Show</a>
    </div>
</div>
