<!-- CAROUSEL -->
<%= render :partial => "main_carousel" %>

<!-- CONTENT -->
<div class="container">
  <div class="row">
    <% @kittens.each do |kitten| %> 
      <% @kitten = kitten %>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <%= render :partial => "kitten_card", :object => @kitten %>
      </div> 
    <% end %>
  </div>
</div>