<div class="container my-5">
    <header>
        <h1 id="h1_contact">Contact us</h1>
    </header>
</div>
<div id="form">
    <form id="waterform my-5" class="container" method="post">
        <div class="formgroup mt-3" id="name-form">
            <label for="name">Your name*</label>
            <input type="text" class="input_contact" name="name" />
        </div>
        <div class="formgroup mt-3" id="email-form">
            <label for="email">Your e-mail*</label>
            <input type="email" class="input_contact" name="email" />
        </div>
        <div class="formgroup mt-3" id="message-form">
            <label for="message">Your message</label>
            <textarea id="message" name="message"></textarea>
        </div>
        <input class="btn-submit-contact-us mt-3" type="submit" value="Send your message!" id="send"/>
    </form>
</div>