<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-12 col-sm-12 col-md-6" >
            <h1>Modifier mes infos</h1>
                <%= render 'form', user: @user %>
                <%= link_to 'Show', @user %> |
                <%= link_to "Back", :back %>
        </div>
    </div>
</div>
