<div class="container d-flex flex-column align-items-center mb-5">
    <h1>Modifier mes infos</h1>
        <div class="mw-form">
            <%= render 'form', user: @user %>
            <%= link_to 'Show', @user, class: "btn btn-secondary" %>
            <%= link_to "Back", :back, class: "btn btn-primary me-1"%>
        </div>
</div>
