<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-12 col-sm-12 col-md-6" >
            <h1 class="mb-3">Modifier ton profil</h1>
            <p class="mt-2"> Prénom : <%= current_user.firstname %> </p>
            <p> Nom : <%=current_user.lastname %> </p>
            <div class="mt-4">
                <a href="<%= edit_user_registration_path %>" class ="btn btn-danger me-2">Modifier mon compte</a>
                <a href="<%= edit_user_path(current_user.id) %>" class ="btn btn-success">Modifier mon blaze</a>
            </div>
        </div>
    </div>
</div>