<h1>Edit your profile  </h1>

<a href="<%= edit_user_path(current_user.id) %>" class ="btn btn-outline-light">Edit Registration Infos</a> <br>
<a href="<%= edit_user_registration_path %>" class ="btn btn-outline-success">Edit General Infos</a> <br>
