<p id="notice"><%=notice %></p>

<h2>Panier</h2>

<ul>
  <% @line_items.each do |item| %>
    <li><%= item.kitten.name%></li>
    <li><%= item.kitten.price%></li>
    <%end%>
</ul>

<p>
<%=link_to "Retour aux produits", root_path%> 
</p>