#h1_carousel {
    font-size: 6em;
    text-shadow:
    0.05em 0 black;
    position: absolute;
right: 15%;
bottom: 1.7em;
left: 15%;
}

.headline {
    font-size: 2em!important;
    text-shadow:
    0.02em 0 black,
    0 0.02em black,
    -0.02em 0 black,
    0 -0.02em black;
    position: absolute;
right: 15%;
bottom: 3em;
left: 15%;
}

#test { 
    margin: 0 550px; 
}
