<%# ALERTE %>
<%# flash.each do |type, msg| %>
    <div class="alert <%#= bootstrap_class_for_flash(type) %> alert-dismissable d-flex justify-content-between align-items-center fade show" role="alert">
        <span class="align-self-center">
            <%#= msg %>
        </span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%# end %>