<footer class="footer-basic mt-auto">
    <div class="social"><a href="https://www.instagram.com/kittensthp/"><i class="icon ion-social-instagram"></i></a></div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="/pages/about">About</a>
        </li>
        <li class="list-inline-item">
            <a href="/pages/contact_us">Contact Us</a>
        </li>
        <li class="list-inline-item">
            <a href="/pages/terms_and_conditions">Terms</a>
        </li>
        <li class="list-inline-item">
            <a href="/pages/privacy_policy">Privacy Policy</a>
        </li>
    </ul>
    <p class="copyright">Kittens THP © 2021</p>
</footer>