

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://www.instagram.com/kittensthp/"><i class="icon ion-social-instagram"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/pages/about">About</a></li>
                <li class="list-inline-item"><a href="/pages/contact_us">Contact Us</a></li>
                <li class="list-inline-item"><a href="/pages/terms_and_conditions">Terms</a></li>
                <li class="list-inline-item"><a href="/pages/privacy_policy">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Kittens THP © 2021</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>